﻿.logo{
	font-size: 20pt;
	color: #8e71cc;
    text-shadow: 1px 1px 1px #bebde5;
	margin: 10pt;
	width: 200pt;
	height: 150pt;
	border-radius: 5pt;
}


.header:hover{
	background-color: black;
	color: white;
}

.floatLeft{
	display: inline-block;
	position: relative;
	float: left;
    margin:auto;
    padding:5pt;
	/*margin: 5pt;
	margin-left: 40%;*/
}

.floatRight{
    display:inline-block;
    position:absolute;
    float:right;
    margin:auto;
    padding:7pt;
    padding-left:40%;
}

/*.myControls{
	display:block;
	position: fixed;
	max-width: 20pt;
}*/

.myButton{
	min-width: 110pt;
}

.headerMenus headerMenu{
    display:block;
    float: left;
  width: 30px;
  text-align: right;
  margin: 0 0 0 10px;
}



.headerMenu{
    width:100%;
    margin-bottom:0pt;
    /*position:fixed;
    margin-left:auto;*/
}


.headerBackground{
  background: #d3cfcf; /* For browsers that do not support gradients */
  background:linear-gradient(#d3cfcf,white);
  background: -webkit-linear-gradient(left top, #d3cfcf, white); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #d3cfcf, white); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #d3cfcf, white); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #d3cfcf, white); /* Standard syntax */
}

.headerMenuItem{
    width:25%;
}

 .menuIcon{
     
 }

.alignVertical{
    display:inline-block;
    position:relative;
    padding:2pt;
}