﻿.menus{
	/*display: inline-flex;
	position: absolute;*/
	/*margin: 10%;
	margin-left: 40%;*/
    position:relative;
    margin:auto;
    padding:10pt;
    /*left:15%;*/
	/*min-width: 150pt;
	min-height: 150pt;*/
    min-width:30vh;
    min-height:30vh;
	border-radius: 15vh;
	transition: width 5s, height 5s;
	-webkit-transition: width 2s, height 4s;
}

.hoverEffect:hover{
    -webkit-box-shadow: 1pt 0pt 5pt 1pt rgba(75,90,94,1);
    -moz-box-shadow: 1pt 0pt 5pt 1pt rgba(75,90,94,1);
    box-shadow: 1pt 0pt 5pt 1pt rgba(75,90,94,1);
}

.shadowEffect{
	box-shadow: 1pt 2pt 10pt grey;
	border-radius: 20pt;
}

.requestTable td{
    text-align:left;
}

table{
	border: none;
    padding:10pt;
}

td, tr, th{
	text-align: center;
    padding:10pt;
}

/*
tr:hover{
	background-color: red;
	color:#4B0082;
}*/

#vendorDetails > tr{
	background-color: red;
	color:#4B0082;
}

.buttonGroup{
	width: 200pt;
	margin: 2pt;
}

#addProductButton{
	width: 60%;
}

#icon{
	font-size: 7vh;
	color: green;
}

.loginPanel{
    border-radius:10pt;
    position:absolute;
    margin-top:2%;
    -webkit-box-shadow: -1px 2px 17px 1px rgba(75,90,94,1);
    -moz-box-shadow: -1px 2px 17px 1px rgba(75,90,94,1);
    box-shadow: -1px 2px 17px 1px rgba(75,90,94,1);
}
