﻿@model UserInterface.VendorServiceReference2.Vendor

@{
    ViewBag.Title = "AddVendor";
}

<!DOCTYPE html>
<html>
<head>
    <title>View / Delete Vendors - IMS</title>
    <script type="text/javascript" src="scripts/vendors.js"></script>
    <script type="text/javascript" src="scripts/jquery-1.11.0.min.js"></script>
    <script>
        $(document).ready(function () {
            var i = 1;
            $("#add_row").click(function () {
                $('#addr' + i).html("<td><input name='[" + i + "].productID' type='text' placeholder='Product ID' class='form-control'></td><td><input name='[" + i + "].productName' type='text' placeholder='Product Name' class='form-control input-md'></td><td><input name='[" + i + "].productPrice' type='text' placeholder='Product Price' class='form-control input-md'></td>");
                $('#tab_logic').append('<tr id="addr' + (i + 1) + '"></tr>');
                i++;
            });
            $("#delete_row").click(function () {
                if (i > 1) {
                    $("#addr" + (i - 1)).html('');
                    i--;
                }
            });
        });
    </script>


    <meta charset="UTF-8">
</head>
<body class="bg-info" onload="init()">
    <div class="panel-group shadowEffect" style="margin-top:1%;margin-left:5%;margin-right:5%;">
        <div class="panel panel-info">
            <div class="panel-heading"><h4>Add Vendor</h4></div>
            <div class="panel-body">
                <center>
                    @using (Html.BeginForm("AddVendor", "Admin", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)
                        <div id="vendorsDiv" class="table-responsive" style="margin:3%;padding:5pt;">
                            <!--add vendors-->
                            <div class="table-responsive">
                                <table class="table">
                                    <tr>
                                        <td>Vendor ID</td>
                                        <td>
                                            @*<input type="text" class="form-control" placeholder="Vendor ID" id="vendorId">*@
                                        @Html.TextBoxFor(model => model._VendorID, new { @class = "form-control", placeholder = "Vendor Id", id = "vendorId" })
                                    </td>
                                </tr>
                                <tr>
                                    <td>Vendor Name</td>
                                    <td>
                                        @*<input type="text" class="form-control" placeholder="Vendor Name" id="vendorName">*@
                                    @Html.TextBoxFor(model => model._VendorName, new { @class = "form-control", placeholder = "Vendor Name", id = "vendorName" })
                                </td>
                            </tr>
                            <tr>
                                <td>Contact Number</td>
                                <td>
                                    @*<input type="text" class="form-control" placeholder="Contact Number" id="contactNumber">*@
                                @Html.TextBoxFor(model => model._VendorContact, new { @class = "form-control", placeholder = "Vendor Contact", id = "vendorContact" })
                            </td>
                        </tr>
                        <tr>
                            <td>Email</td>
                            <td>
                                @*<input type="text" class="form-control" placeholder="Email" id="email">*@
                            @Html.TextBoxFor(model => model._VendorEmail, new { @class = "form-control", placeholder = "Vendor Email", id = "vendorEmail" })
                        </td>
                    </tr>
                    <tr>
                        <td>Products</td>
                        <td>
                            <div class="table-responsive">
                                <table class="table" id="tab_logic">
                                    <!--products table-->
                                    <tr>
                                        <th>Product ID</th>
                                        <th>Name</th>
                                        <th>Price</th>
                                    </tr>
                                    <!-- var newRow = '-->
                                    <tr id="addr0">
                                        <td> <input type="text" name="[0].productId" class="form-control" placeholder="Product ID" id="[0].productId"> </td>
                                        <td> <input type="text" name="[0].productName" class="form-control" placeholder="Name" id="[0].productName"> </td>
                                        <td> <input type="text" name="[0].productPrice" class="form-control" placeholder="Price" id="[0].productPrice"> </td>
                                    </tr>
                                    <!-- var newRow = '-->
                                    <!-- var newRowButton-->
                                    @*<tr>
                                            <td colspan="3">
                                                <button class="btn btn-success hoverEffect" id="addProductButton" onclick="insertNewRow()">
                                                    <span class="glyphicon glyphicon-plus"></span> Add Product
                                                </button>
                                            </td>
                                        </tr>*@
                                    <!-- var newRow-->
                                    <tr id='addr1'></tr>

                                    <!--products table-->
                                </table>
                                <a id="add_row" class="btn btn-default pull-left">Add Row</a><a id='delete_row' class="btn btn-default" style="margin-left:auto;">Delete Row</a>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <br />
            <button type="submit" class="btn btn-success hoverEffect">

                <span class="glyphicon glyphicon-save"></span> Add Vendor
            </button>
            <!--add vendors-->
        </div>
                    }
                </center>
            </div>
        </div>
    </div>
</body>
</html>
