﻿@model List<UserInterface.PurchaseHistoryService.PurchaseHistory>
@{
    ViewBag.Title = "PurchaseHistory";
}

<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>
</head>

<body class="bg-info">
    <div class="panel-group shadowEffect" style="margin-top:1%;margin-left:5%;margin-right:5%;">
        <div class="panel panel-info">
            <div class="panel-heading"><h4>Purchase History</h4></div>
            <div class="panel-body">
                <center>
                   <table class="table-striped">
                       <tr>
                           <th>OrderID</th>
                           <th>SubOrderID</th>
                           <th>VendorID</th>
                           <th>ProductID</th>
                           <th>QuantityOrdered</th>
                           <th>Total Price</th>
                           @*<th>Invoice</th>*@
                           <th>ArrivalDate</th>
                       </tr>
                       @foreach (var order in Model)
                       {
                        <tr>
                            <td>@Html.DisplayFor(m => order.OrderID)</td>
                            <td>@Html.DisplayFor(m => order.SubOrderID)</td>
                            <td>@Html.DisplayFor(m => order.VendorID)</td>
                            <td>@Html.DisplayFor(m => order.ProductID)</td>
                            <td>@Html.DisplayFor(m => order.QuantityOrdered)</td>
                            <td>@Html.DisplayFor(m => order.BillAmount)</td>
                            @*<td>@Html.DisplayFor(m => order.Invoice)</td>*@
                            <td>@Html.DisplayFor(m => order.ArrivalDate)</td>
                        </tr>
                       }
                       
                   </table>
                </center>
            </div>
        </div>
    </div>
</body>
</html>
