﻿@model DotNet.Highcharts.Highcharts

@{
    ViewBag.Title = "Reports";
}

<html>
<head>
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
    <script type="text/javascript" src="bootstrap-3.3.6-dist/js/bootstrap.min.js"></script>
</head>
<body>
    @*@using (Html.BeginForm("PurchaseReports", "Admin"))
    {
        <button type="submit" style="margin-left:2%;margin-top:2%;" class="btn btn-default btn-lg menus hoverEffect"><span class="fa fa-bar-chart" id="icon"></span><br> PurchaseReports</button>
    }

    @using (Html.BeginForm("RequestReports", "Admin"))
    {
        <button type="submit" style="margin-left:2%;margin-top:2%;" class="btn btn-default btn-lg menus hoverEffect"><span class="fa fa-bar-chart" id="icon"></span><br> Request Reports</button>
    }*@    
    <center>
        <a href="@Url.Action("PurchaseReports", "Admin")"> <button style="margin-left:2%;margin-top:2%;" class="btn btn-default btn-lg menus hoverEffect"><span class="fa fa-bar-chart" id="icon"></span><br> Purchase Reports</button></a>
        <a href="@Url.Action("PurchaseReports", "Admin")"> <button style="margin-left:2%;margin-top:2%;" class="btn btn-default btn-lg menus hoverEffect"><span class="fa fa-bar-chart" id="icon"></span><br> Request Reports</button></a>
    </center>
</body>
</html>
