﻿@model List<UserInterface.RequestHistoryService.RequestDetail>
@{
    ViewBag.Title = "Requests";
}


<body class="bg-info">
    <div class="panel-group shadowEffect" style="margin-top:1%;margin-left:5%;margin-right:5%;">
        <div class="panel panel-info">
            <div class="panel-heading"><h4>Request Updates</h4></div>
            <div class="panel-body">
                <center>
                    <table class="table-striped">
                        <tr>
                            <th>RequestID</th>   
                            <th>Request Date</th> 
                            <th>View</th>                                                    
                        </tr>
                        @foreach (var request in Model)
                        {
                            <tr>
                                <td>@Html.DisplayFor(m => request.requestId)</td>  
                                <td>@Html.DisplayFor(m => request.requestDate)</td>                                              
                                <td>@Html.ActionLink(" ","RequestDetail","Request",new { requestId = request.requestId }, new { @class = "glyphicon glyphicon-eye-open"})</td>                                                         

                            </tr>
                        }

                    </table>
                </center>
            </div>
        </div>
    </div>
</body>
