﻿@model DotNet.Highcharts.Highcharts

@{
    ViewBag.Title = "RequestReports";
}

<div class="panel-group shadowEffect" style="margin-top:1%;margin-left:5%;margin-right:5%;">
    <div class="panel panel-info">
        <div class="panel-heading"><h4>Request Reports</h4></div>
        <div class="panel-body">
            <center>
                @Model
                @*<h2>RequestReports</h2>*@
            </center>
        </div>
    </div>
</div>

                
