﻿@model List<UserInterface.VendorServiceReference2.Vendor>
@{
    ViewBag.Title = "ViewVendors";
}

<!DOCTYPE html>
<html>
<head>
    <title>View / Delete Vendors - IMS</title>
    <script type="text/javascript" src="scripts/vendors.js"></script>
    <script type="text/javascript" src="scripts/jquery-1.11.0.min.js"></script>
    <meta charset="UTF-8">

</head>
<body class="bg-info" @*onload="init()"*@>
    <div class="panel-group shadowEffect" style="margin-top:1%;margin-left:5%;margin-right:5%;">
        <div class="panel panel-info">
            <div class="panel-heading"><h4>Vendor Information</h4></div>
            <div class="panel-body">
                <center>                   
                    <div id="vendorsDiv" class="table-responsive" style="margin:3%;">
                        <table id="vendorDetails" style="margin-top:1%;" class="table table-striped">
                            <tr>
                                <th>Vendor ID</th>
                                <th>Name</th>
                                <th>Contact</th>
                                <th>Email ID</th>
                                <th>Operations</th>
                            </tr>
                          
                            @foreach (var vendor in Model)
                            {
                                <tr>
                                    <td>
                                        @vendor._VendorID
                                    </td>
                                    <td>
                                        @vendor._VendorName
                                    </td>
                                    <td>
                                        @vendor._VendorContact
                                    </td>
                                    <td>
                                        @vendor._VendorEmail
                                    </td>
                                    <td>
                                        <button class="btn btn-success btn-xs"><span class="glyphicon glyphicon-eye-open"></span></button>

                                        <button class="btn btn-warning btn-xs"><span class="glyphicon glyphicon-edit"></span></button>

                                        <a href="@Url.Action("ViewVendors", "Admin", new { vendorId = vendor._VendorID})" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-trash"></span></a>

                                    </td>
                                </tr>
                            }

                        </table>
                    </div>

                </center>
            </div>
        </div>
    </div>
</body>
</html>
