﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>  
    @Styles.Render("~/Content/bootstrap-3.3.6-dist/css/bootstrap.min.css")
    @Styles.Render("~/Content/layout.css")
    @Styles.Render("~/Content/header.css")
    @Styles.Render("http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css")
    @Scripts.Render("https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
    @Scripts.Render("http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/highchart")
    @Scripts.Render("~/bundles/vendors")
    @Scripts.Render("~/bundles/InboundRequests")
</head>
<body>
    @RenderPage("~/Views/Shared/Header.cshtml")
    @RenderBody()

    
    @*@RenderSection("scripts", required: false)*@
</body>
</html>
