﻿@{
    ViewBag.Title = "Header";
}
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta charset="UTF-8">
</head>
<body style="">

    <!--header -->
    <nav class="navbar navbar-default header headerBackground">
        <div class="container-fluid">
            <div id="header" class="navbar-header">
                <div class="floatLeft">
                    <span class="logo">Inventory Management System</span>
                </div>

                @if (Session["Authority"].ToString() == "0")
                { 
                    <div class="floatRight" align="right">                       
                        <a href="@Url.Action("Index","Home")" id="LoginTitle" class="btn btn-default myButton myControls"> Login</a>
                    </div>
                }

                else
                {
                    <div class="floatRight" align="right">                            
                        <a href="@Url.Action("Index","Home")" id="LoginTitle" class="btn btn-default myButton myControls"> LogOut</a>
                    </div>
                }
                
            </div>
        </div>

        @if (Session["Authority"].ToString() == "1")
        { 
        <center>
            <div class="btn-group btn-group-justified">
                <a class="btn btn-primary btn-md hoverEffect alignVertical headerMenuItem" href="@Url.Action("Admin", "Home")">
                    <span class="glyphicon glyphicon-home"></span> Main
                </a>
                <a class="btn btn-primary btn-md hoverEffect alignVertical headerMenuItem" href="@Url.Action("Requests", "Admin")">
                    <span class="glyphicon glyphicon-hand-up menuIcon"></span> Requests
                </a>
                <!--Vendors Dropdown-->
                <div class="btn-group hoverEffect">
                    <button type="button" class="btn btn-primary btn-md dropdown-toggle" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-user menuIcon"></span> Vendors <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="@Url.Action("ViewVendors", "Admin")">View Vendors</a></li>
                        <li><a href="@Url.Action("AddVendor", "Admin")">Add Vendors</a></li>
                    </ul>
                </div>
                <!--Vendors Dropdown-->
                <!--Reports Dropdown-->
                <div class="btn-group hoverEffect">
                    <button type="button" class="btn btn-primary btn-md dropdown-toggle" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-user menuIcon"></span> Reports <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="@Url.Action("PurchaseReports", "Admin")">Purchase Reports</a></li>
                        <li><a href="@Url.Action("RequestReports", "Admin")">Request Reports</a></li>
                    </ul>
                </div>
                <!--Reports Dropdown-->
                @*<a class="btn btn-primary btn-md hoverEffect alignVertical headerMenuItem" href="@Url.Action("Reports", "Admin")">
                    <span class="fa fa-bar-chart menuIcon"></span> Reports
                </a>*@
                <a class="btn btn-primary btn-md hoverEffect alignVertical headerMenuItem" href="@Url.Action("PurchaseHistory", "Admin")">
                    <span class="fa fa-history menuIcon"></span> Purchase History
                </a>
            </div>
        </center>
        }
    </nav>
    <!--header -->


</body>

</html>
