.menus{
	display: inline-block;
	position: fixed;
	margin: 10%;
	margin-left: 40%;
	min-width: 150pt;
	min-height: 150pt;
	border-radius: 100pt;
	transition: width 5s, height 5s;
	-webkit-transition: width 2s, height 4s;
}

.hoverEffect:hover{
	/*width: 190pt;
	height: 190pt;*/
	box-shadow: 1pt 0pt 5pt grey;
}

.shadowEffect{
	box-shadow: 1pt 2pt 10pt grey;
	border-radius: 20pt;
}

table{
	border: none;
}

tr, th{
	text-align: center;
}
/*
tr:hover{
	background-color: red;
	color:#4B0082;
}*/

#vendorDetails > tr{
	background-color: red;
	color:#4B0082;
}

.buttonGroup{
	width: 200pt;
	margin: 2pt;
}

#addProductButton{
	width: 60%;
}

#icon{
	font-size: 7vh;
	color: green;
}
/*
.vendorDetails tr:nth-child(even){
	background: yellow;
}

.vendorDetails tr:nth-child(odd){
	background: white;
}*/