﻿@model UserInterface.Models.PurchaseOrderClass

@{
    ViewBag.Title = "DisplayPurchase";
}

<html>
<body>
    <div class="panel-group shadowEffect" style="margin-top:1%;margin-left:5%;margin-right:5%;">
        <div class="panel panel-info">
            <div class="panel-heading"><h4>Purchase Details</h4></div>
            <div class="panel-body">
                <center>
                    <table class="bg-info">
                        <tr><td>Request ID : @Html.DisplayFor(r => r.requestDetail.requestId)</td></tr>
                        <tr><td>Request Date : @Html.DisplayFor(r => r.requestDetail.requestDate)</td></tr>
                        <tr><td>Requester ID : @Html.DisplayFor(r => r.requestDetail.requesterId)</td></tr>
                        <tr><td>Request Priority : @Html.DisplayFor(r => r.requestDetail.requestPriority)</td></tr>
                    </table>
                    <br />


                    @using (Html.BeginForm("DisplayPurchasePost", "Request", FormMethod.Post))
                    {
                        @Html.TextBoxFor(r => r.requestDetail.requestId, new { id = "requestID", type = "hidden" })
                        <table class="bg-info">
                            <tr>
                                <th>Product ID</th>
                                <th>Purchase Quantity</th>
                                <th>Vendor Selected</th>
                                <th>Total Price</th>
                            </tr>

                            @{
                        int sum = 0;
                        foreach (var subOrder in Model.subOrderList)
                        {
                            sum = sum + @subOrder.subOrderTotal;
                            <tr>
                                <td>@subOrder.productID</td>
                                <td>@subOrder.purchaseQuantity</td>
                                <td>@subOrder.vendorID</td>
                                <td>@subOrder.subOrderTotal</td>
                            </tr>
                        }


                        <tr>
                            <td colspan="3">Total</td>
                            <td>@sum</td>
                        </tr>
                            }


                        </table>
                        <br />
                        <button type="submit" class="btn btn-success btn-lg">Send For Approval</button>
                    }
                </center>
                </div>
            </div>
        </div>
</body>
</html>

