﻿@model UserInterface.Models.PurchaseOrderClass

@{
    ViewBag.Title = "PurchaseOrder";
}

<html>
<body>
    <div class="panel-group shadowEffect" style="margin-top:1%;margin-left:5%;margin-right:5%;">
        <div class="panel panel-info">
            <div class="panel-heading"><h4>Purchase Order Details</h4></div>
            <div class="panel-body">
                <center>
                    <table class="bg-info">
                        <tr><td>Request ID : @Html.DisplayFor(r => r.requestDetail.requestId)</td></tr>
                        <tr><td>Request Date : @Html.DisplayFor(r => r.requestDetail.requestDate)</td></tr>
                        <tr><td>Requester ID : @Html.DisplayFor(r => r.requestDetail.requesterId)</td></tr>
                        <tr><td>Request Priority : @Html.DisplayFor(r => r.requestDetail.requestPriority)</td></tr>
                    </table>
                    <br />


                    @using (Html.BeginForm("DisplayPurchase", "Request", FormMethod.Post))
                    {
                        @Html.TextBoxFor(r => r.requestDetail.requestId, new { id = "requestID", type = "hidden" })
                        <table class="bg-info">
                            <tr>
                                <th>Product ID</th>
                                <th>Product Name</th>
                                <th>Purchase Quantity</th>
                                <th>Select Vendor</th>
                            </tr>

                            @*Code For DropDown*@

                            @{
                        var productVendorList = Model.purchaseProductList.Zip(Model.listOfVendorList, (p, v) => new { Product = p, Vendor = v });

                        foreach (var record in productVendorList)
                        {
                            <tr>
                                <td>@record.Product.productId</td>
                                <td>@record.Product.productName</td>
                                <td>@record.Product.purchaseQuantity</td>

                                @Html.TextBoxFor(m => record.Product.productId, new { type = "hidden" })
                                @Html.TextBoxFor(m => record.Product.productName, new { type = "hidden" })
                                @Html.TextBoxFor(m => record.Product.purchaseQuantity, new { type = "hidden" })

                                @{
                            List<SelectListItem> listItems = new List<SelectListItem>();

                            foreach (var vendor in record.Vendor)
                            {

                                listItems.Add(new SelectListItem
                                {
                                    Value = vendor.vendorID.ToString(),
                                    Text = "Name: " + vendor.vendorName.ToString() + ".......Price: " + vendor.price.ToString(),
                                    Selected = true

                                });
                            }


                                }

                                <td>@Html.DropDownListFor(l => l.selectedVendorList, listItems)</td>

                            </tr>
                        }
                            }

                        </table>
                        <br />
                        <button type="submit" class="btn btn-success btn-lg">View Purchase Order</button>
                    }
                </center>
                </div>
                </div>
        </div>
</body>

</html>
