﻿@model UserInterface.Models.RequestDetailRetrievalClass

@{
    ViewBag.Title = "RequestDetail";
}
<html>
<body>
    <div class="panel-group shadowEffect" style="margin-top:1%;margin-left:5%;margin-right:5%;">
        <div class="panel panel-info">
            <div class="panel-heading"><h4>Request Details</h4></div>
            <div class="panel-body">
                <center>
                    <table class="table-striped requestTable">
                        <tr>
                            <td>Request ID</td>
                            <td>@Html.DisplayFor(r => r.requestDetail.requestId)</td>
                        </tr>
                        <tr>
                            <td>Request Date</td>
                            <td>@Html.DisplayFor(r => r.requestDetail.requestDate)</td>
                        </tr>
                        <tr>
                            <td>Requester ID
                            <td>@Html.DisplayFor(r => r.requestDetail.requesterId)</td>
                        </tr>
                        <tr>
                            <td>Request Priority
                            <td>@Html.DisplayFor(r => r.requestDetail.requestPriority)</td>
                        </tr>
                    </table>
                    <br />


                    @using (Html.BeginForm("PurchaseOrder", "Request", FormMethod.Post))
                    {
                        @Html.TextBoxFor(r => r.requestDetail.requestId, new { id = "requestID", type = "hidden" })
                        <table class="table-striped">
                            <tr>
                                <th>Product ID</th>
                                <th>Product Name</th>
                                <th>Required Quantity</th>
                                <th>Available Quantity</th>
                                <th>Allocated Quantity</th>
                            </tr>

                            @foreach (var product in Model.productList)
                            {
                                <tr>
                                    <td>@product.productId</td>
                                    <td>@product.productName</td>
                                    <td>@product.requiredQuantity</td>
                                    <td>@product.availableQuantity</td>

                                    @Html.TextBoxFor(m => product.productId, new { type = "hidden" })
                                    @Html.TextBoxFor(m => product.requiredQuantity, new { type = "hidden" })
                                    @Html.TextBoxFor(m => product.availableQuantity, new { type = "hidden" })

                                    @if (product.requiredQuantity < product.availableQuantity)
                                    {
                                        <td>
                                            @Html.TextBoxFor(m => product.allocatedQuantity, new { type = "number", min = "0", max = @product.requiredQuantity, @class =  "form-control"})

                                        </td>
                                    }

                                    else
                                    {
                                        <td>
                                            @Html.TextBoxFor(m => product.allocatedQuantity, new { type = "number", min = "0", max = product.availableQuantity, @class = "form-control" })

                                        </td>
                                    }

                                </tr>
                            }

                        </table>
                        <br />
                        <button type="submit" class="btn btn-success btn-lg"><span class="glyphicon glyphicon-check"></span> Allocate Available Resources</button>
                    }
                </center>
                </div>
            </div>
        </div>
</body>
</html>