﻿@{
    ViewBag.Title = "Admin";
}

@if (Session["UserID"]!=null && Session["Authority"].ToString() == "1")
{
<!DOCTYPE html>
<html>
<head>
    <title>Admins View - IMS</title>
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
    <script type="text/javascript" src="bootstrap-3.3.6-dist/js/bootstrap.min.js"></script>

</head>
<body class="">
    <div class="form-group">
        @*<button type="submit" style="margin-left:2%;margin-top:2%;" class="btn btn-default btn-lg menus hoverEffect"><span class="glyphicon glyphicon-hand-up" id="icon"></span><br>@Html.ActionLink("Requests", "Requests", "Admin")</button>*@

        @*@using (Html.BeginForm("Requests", "Admin"))
        {
            <button type="submit" style="margin-left:2%;margin-top:2%;" class="btn btn-default btn-lg menus hoverEffect"><span class="glyphicon glyphicon-hand-up" id="icon"></span><br> Requests</button>
        }*@
        <center>
            <a href="@Url.Action("Requests", "Admin")"> <button style="margin-left:2%;margin-top:2%;" class="btn btn-default btn-lg menus hoverEffect"><span class="glyphicon glyphicon-hand-up" id="icon"></span><br> Requests</button></a>
            <a href="@Url.Action("ViewVendors", "Admin")"> <button style="margin-left:2%;margin-top:2%;" class="btn btn-default btn-lg menus hoverEffect"><span class="glyphicon glyphicon-user" id="icon"></span><br> View Vendors</button></a>
            <a href="@Url.Action("Reports", "Admin")"> <button style="margin-left:2%;margin-top:2%;" class="btn btn-default btn-lg menus hoverEffect"><span class="fa fa-bar-chart" id="icon"></span><br> Reports</button></a>
            <a href="@Url.Action("PurchaseHistory", "Admin")"> <button style="margin-left:2%;margin-top:2%;" class="btn btn-default btn-lg menus hoverEffect"><span class="fa fa-history" id="icon"></span><br> Purchase History</button></a>
        </center>
        @*@using (Html.BeginForm("ViewVendors", "Admin"))
        {
            <button type="submit" style="margin-left:2%;margin-top:2%;" class="btn btn-default btn-lg menus hoverEffect"><span class="glyphicon glyphicon-user" id="icon"></span><br> Vendors</button>
        }

        @using (Html.BeginForm("Reports", "Admin"))
        {
            <button type="submit" style="margin-left:2%;margin-top:2%;" class="btn btn-default btn-lg menus hoverEffect"><span class="fa fa-bar-chart" id="icon"></span><br> Reports</button>
        }
        @using (Html.BeginForm("PurchaseHistory", "Admin"))
        {
            <button type="submit" style="margin-left:2%;margin-top:2%;" class="btn btn-default btn-lg menus hoverEffect"><span class="fa fa-history" id="icon"></span><br> Purchase History</button>
        }*@
       <!-- class="glyphicon glyphicon-signal" -->
    </div>
</body>
</html>
}

else
{
    @Html.ActionLink("ReLogin","Index","Home")
}
