﻿@model UserInterface.Models.AssetRequestClass

@{
    ViewBag.Title = "AssetRequestPage";
}

@if (Session["UserID"] != null && Session["Authority"].ToString() == "3")
{
<html>
<head>
    <title>@ViewBag.Title</title>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script type="text/javascript" src="bootstrap-3.3.6-dist/js/bootstrap.min.js"></script>


    <script>
        $(document).ready(function () {
            var i = 1;
            $("#add_row").click(function () {
                $('#addr' + i).html("<td>" + (i + 1) + "</td><td><input name='[" + i + "].productID' type='text' placeholder='Product ID" + i + "' class='form-control'></td><td><input name='[" + i + "].productName' type='text' placeholder='Product Name" + i + "' class='form-control input-md'></td><td><input name='[" + i + "].requiredQuantity' type='text' placeholder='Required Quantity" + i + "' class='form-control input-md'></td>");
                $('#tab_logic').append('<tr id="addr' + (i + 1) + '"></tr>');
                i++;
            });
            $("#delete_row").click(function () {
                if (i > 1) {
                    $("#addr" + (i - 1)).html('');
                    i--;
                }
            });
        });
    </script>

</head>


<body class="bg-info">
    <div class="panel-group shadowEffect" style="margin-top:1%;margin-left:5%;margin-right:5%;">
        <div class="panel panel-info">
            <div class="panel-heading"><h4>Asset Request Page</h4></div>
            <div class="panel-body">
                <div>
                    @Html.ActionLink("<< Back to Request List", "ViewRequests")
                </div>
                @using (Html.BeginForm("AssetRequestPage", "Home", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)

    <table class="table-striped">
        <tr>
            <td>
                <!--table1-->
                <div class="form-group" style="position:relative;">


                    <table class="table-striped">
                        <tr class="active">
                            <td id="label">Request Id</td>
                            <td>
                                @Html.TextBoxFor(Model => Model.request.requestId, new { @class = "form-control", placeholder = "Request ID" })
                                @*<input type="text" name="" id="usernameText" class="form-control" placeholder="Username">*@
                            </td>
                        </tr>
                        <tr class="active">
                            <td id="label">Requester Id</td>
                            <td>
                                @Html.TextBoxFor(Model => Model.request.requesterId, new { @class = "form-control", placeholder = "Requester ID" })
                                @*<input type="Password" id="passwordText" class="form-control" placeholder="Password">*@
                            </td>
                        </tr>
                        <tr class="active">
                            <td id="label">Request Priority</td>
                            <td>
                                @Html.TextBoxFor(Model => Model.request.requestPriority, new { @class = "form-control", placeholder = "Request Priority" })
                                @*<input type="text" name="" id="usernameText" class="form-control" placeholder="Username">*@
                            </td>
                        </tr>
                        <tr class="active">
                            <td id="label">Request Status Id</td>
                            <td>
                                @Html.TextBoxFor(Model => Model.request.requestStatusId, new { @class = "form-control", placeholder = "Request Status ID" })
                                @*<input type="Password" id="passwordText" class="form-control" placeholder="Password">*@
                            </td>
                        </tr>
                        @*<tr class="active">
                                <td><button type="submit" class="btn btn-success btn-lg">Submit</button></td>
                                <td><button type="reset" class="btn btn-danger btn-lg">Cancel</button></td>
                            </tr>*@
                    </table>

                </div>
                <!--table1-->
            </td>

            <td>
                <!--table 2-->
                @*<div>
                    <div class="container" style="margin-left:auto;">
                        <div class="row clearfix">
                            <div class="col-md-12 column">*@
                                <table class="table-condensed" id="tab_logic">
                                    <thead>
                                        <tr>
                                            <th class="text-center">
                                                #
                                            </th>
                                            <th class="text-center">
                                                Product Id
                                            </th>
                                            <th class="text-center">
                                                Product Name
                                            </th>
                                            <th class="text-center">
                                                Required Quantity
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr id='addr0'>
                                            <td>
                                                1
                                            </td>
                                            <td>
                                                @* @Html.TextBoxFor(Model => Model.listRequest.productId, new { @class = "form-control" })*@
                                                <input type="text" name="[0].productId" placeholder='Product Id' class="form-control" />
                                            </td>
                                            <td>
                                                @*  @Html.TextBoxFor(Model => Model.listRequest.productName, new { @class = "form-control" })*@
                                                <input type="text" name="[0].productName" placeholder='Product Name' class="form-control" />
                                            </td>
                                            <td>
                                                @* @Html.TextBoxFor(Model => Model.listRequest.requiredQuantity, new { @class = "form-control" })*@
                                                <input type="text" name="[0].requiredQuantity" placeholder='Required Quantity' class="form-control" />
                                            </td>
                                        </tr>
                                        <tr id='addr1'></tr>
                                    </tbody>
                                </table>
                            @*</div>
                        </div>*@
                        <a id="add_row" class="btn btn-default pull-left">Add Row</a><a id='delete_row' class="btn btn-default" style="margin-left:auto;">Delete Row</a>
                    @*</div>
                </div>*@
                <!--table 2-->
            </td>
        </tr>
        <tr>
            <td><button type="submit" class="btn btn-success btn-lg"><span class="glyphicon glyphicon-save"></span> Save</button></td>
            <td><button type="reset" class="btn btn-danger btn-lg"><span class="glyphicon glyphicon-remove"></span> Cancel</button></td>           
        </tr>
    </table>
                }
                </div>
            </div>
        </div>
</body>
</html>
}

else
{
    @Html.ActionLink("ReLogin", "Index", "Home")
}