﻿@model UserInterface.AuthenticationService.LoginClass

@{
    ViewBag.Title = "Index";
}

<html>
<head>
    <title>Login - IMS</title>
    @*<link rel="stylesheet" type="text/css" href="bootstrap-3.3.6-dist/css/bootstrap.min.css">
    <script type="text/javascript" src="bootstrap-3.3.6-dist/js/bootstrap.min.js"></script>*@
</head>


<body class="bg">

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <center>
        <div class="form-group centerAlign" style="position:relative;padding-left:39%;">
            <form action="/" method="post">
                <div class="panel panel-default loginPanel">
                    <div class="panel-body">
                        <table class="">
                            <tr class="active">
                                @*<td id="label">Username</td>*@
                                <td colspan="2">
                                    <div class="form-group input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                        @Html.TextBoxFor(model => model.userName, new { @class = "form-control", placeholder = "Username", id = "usernameText" })
                                    </div>

                                </td>
                            </tr>
                            <tr class="active">
                                @*<td id="label">Password</td>*@
                                <td colspan="2">
                                    <div class="form-group input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                        @Html.PasswordFor(model => model.password, new { @class = "form-control", placeholder = "Password", id = "passwordText" })
                                    </div>
                                </td>
                            </tr>
                            <tr class="active">
                                <td><button type="submit" class="btn btn-success btn-lg"><span class="glyphicon glyphicon-ok"></span>  &nbsp;&nbsp;Login</button></td>
                                <td><button type="reset" class="btn btn-danger btn-lg"><span class="glyphicon glyphicon-remove"></span> &nbsp;&nbsp;Clear</button></td>
                            </tr>
                        </table>
                    </div>
                </div>

            </form>

        </div>
    </center>
}
</body>
</html>