﻿@model IEnumerable<UserInterface.AssetRequestService.RequestProduct>

@if (Session["UserID"] != null && Session["Authority"].ToString() == "3")
{
<html>
<head>

    <title>ViewRequests</title>
    <script type="text/javascript" src="../bootstrap-3.3.6-dist/js/bootstrap.min.js"></script>

</head>

<body>
    
    <div class="panel-group shadowEffect" style="margin-top:1%;margin-left:5%;margin-right:5%;">
        <div class="panel panel-info">
            <div class="panel-heading"><h4>Asset Requests</h4></div>
            <center>
                @*<p class="btn btn-default" @*navbar navbar-inverse>

                    @Html.ActionLink("Create New Request", "AssetRequestPage")
                </p>*@
                <a href="@Url.Action("AssetRequestPage","Home")" class="btn btn-success myButton myControls"><span class="glyphicon glyphicon-plus"></span>&nbsp; Create New Request</a>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table-striped">
                            <tr>
                                <th>Request Id</th>
                                <th>Requester Id</th>
                                <th>Request priority</th>
                                <th>Request Date</th>
                                <th>Request Status Id</th>
                            </tr>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @item.requestId
                                    </td>
                                    <td>
                                        @item.requesterId
                                    </td>
                                    <td>
                                        @item.requestPriority
                                    </td>
                                    <td>
                                        @item.requestDate
                                    </td>
                                        <td>
                                        @{
                                            Int32 id = item.requestStatusId;
                                            switch (id)
                                            {
                                                case 0:
                                                    <a class="btn btn-info statusButton">&nbsp;&nbsp;<span class=" glyphicon glyphicon-certificate">
                                                        </span>&nbsp;&nbsp;&nbsp; New&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                                                    break;
                                                case 1:
                                                <a class="btn btn-warning statusButton">&nbsp;<span class="glyphicon glyphicon-time"></span>&nbsp;&nbsp; Pending&nbsp;</a>
                                                    break;
                                                case 2:
                                                <a class="btn btn-primary statusButton"><span class="glyphicon glyphicon-thumbs-up"></span> Approved</a>
                                                    break;
                                                case 3:
                                                <a class="btn btn-success statusButton"><span class="glyphicon glyphicon-gift"></span> Granted</a>
                                                    break;
                                                default:
                                                <a class="btn btn-danger statusButton"><span class="glyphicon glyphicon-warning-sign"></span> Error</a>
                                                    break;
                                            }
                                        }
                                    </td>
                                </tr>
                            }

                        </table>
                    </div>

                </div>
                <a href="@Url.Action("AssetRequestPage","Home")" class="btn btn-success myButton myControls"><span class="glyphicon glyphicon-plus"></span>&nbsp; Create New Request</a>
            </center>
            </div>
        </div>
</body>
</html>
}
else
{
    @Html.ActionLink("ReLogin", "Index", "Home")
}